# Entornos virtuales
venv/
ENV/
env/
.venv/

# Archivos de entorno
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.so

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Base de datos local
*.sqlite3
